<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cn.heyan.hepoint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/planet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.FirstActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>



        <service android:name=".services.MainService"
            android:enabled="true"
            android:process="cn.heyan.service"
            android:theme="@style/Theme.AppCompat"/>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
</manifest>
